# ML/AI frameworks
ray[all]==2.47.1
scikit-image==0.25.2
scikit-learn

# Jupyter ecosystem
ipykernel
ipython
jupyter-server
jupyterlab

# Development tools
black==25.1.0
flake8==7.3.0
isort==6.0.1

# Documentation
mkdocs==1.6.1

# Utilities
gdown==5.2.0
loguru==0.7.3
matplotlib
py7zr
python-dotenv==1.1.1
pytest
requests==2.32.4
rich==14.0.0
typer
